<div class="container mt-4">
  <h1 class="mb-5">Add ingredient to <%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Add ingredient", class: "btn" %>
  <% end %>
  <p class="pt-2"><%= link_to "Back to cocktail", cocktail_path(@cocktail), :class => "btn" %></p>
</div>



